.navModal {
    position:fixed ;
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #eef8ff;
    visibility: hidden;
    &.open{
      opacity: 1;
      visibility: visible;
    }
  }