.sc4{
    
    background-image: url(/public/img/4-hera.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

    .inner{
        h2.con_tit{
            text-align: left;
            color: #000;
        }
    }
}